@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* {
  font-family: "Viga";
  color: white;
}

body {
  background-color: #381272;
}

button {
  padding: 12px 32px;
  border-radius: 16px;
  border: 6px solid;
  font-size: 36px;
  margin: 0.5rem 1rem;
  color: #aa3300;
  box-shadow: 0px 6px 4px 0.8px rgba(0, 0, 0, 0.66);
}

button:active {
  position: relative;
  top: 4px;
  filter: brightness(75%);
  box-shadow: 0px 0px 4px 0.8px rgba(0, 0, 0, 0.66);
}

/* button {
  background-color: #23094b;
  border-color: #fff;
  color: #fff;
} */
